html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bgColor;
}

header {
  position: relative;
  width: 100%;
}

main {
  // display: flex;
  // height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
  display: block;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.content {
  padding: 0 0 0 35px;
}

.page {
  // display: flex;
  display: grid;
  grid-auto-flow: column;
  padding: 15px 0 15px 15px;
}

.pageContent {
  // display: flex;
  // flex-direction: column;
}

@media print {
  @page {
    size: auto;
  }

  section {
    page-break-inside: avoid;
  }
}
