.contentAbout {
  // display: flex;
}

.about {
  padding: 25px 15px;
  background: #fff;
}

.aboutSection {
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.aboutTitle {
  display: flex;
  align-items: center;
  margin: 0;
  // background: #3d503a8c;

  &Name {
    flex-grow: 1;
    margin-left: -15px;
    padding-left: 25px;
    font-size: 22px;
    background: #3d503a8c;
  }
}

.aboutIcoBox {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
}

.aboutIcon {
  &User {
    padding: 6px;
  }

  &Briefcase {
    padding: 5px;
  }

  &Code,
  &Graduation {
    padding: 4px;
  }
}

.aboutTextBox {
  margin: 0;
  padding-left: 16px;
}

.aboutText {
  margin: 0;
  padding: 10px;
  padding-left: 22px;
  color: #222222ee;
  font-size: 17px;
  font-weight: 500;
  border: solid #000;
  border-width: 0 0 3px 3px;
}

.aboutList {
  margin: 0 0 0 16px;
  padding: 10px;
  padding-left: 22px;
  border: solid #000;
  border-width: 0 0 3px 3px;
}

.aboutItem {
  &::marker {
    font-size: 35px;
    left: 0;
  }

  &Education {
    display: flex;
  }
  // &Work {
  //   display: flex;
  // }
}

.projectLink {
  display: inline-block;
  min-width: 101px;
  margin: 0 9px 0 0;
}

.projectInfo {
  margin: 0;
  padding: 0 7px;
  color: #222222bb;
}

.workEar,
.educationEar {
  min-width: 101px;
  margin: 0 15px 0 0;
  padding: 0;
  font-size: 17.5px;
  font-weight: 600;
}

.work,
.educationPlace {
  display: flex;
  margin: 0;
  padding: 0;
}

.educationPlace {
  flex-direction: column;
}

.workPlace,
.university {
  font-size: 17.5px;
}

.workTask {
  padding: 5px 0 0 25px;
  color: #222222bb;
}

.profession {
  padding-left: 5px;
  color: #222222bb;
  font-size: 14px;
}

.additional {
  padding-left: 20px;
}

.additionalTitle {
  display: flex;
  align-items: center;
  margin: 0;
  // background: #3d503a8c;

  &Name {
    // flex-grow: 1;
    // margin-left: -15px;
    // padding-left: 25px;
    padding: 5px 10px;
    font-size: 20px;
    background: #000;
    color: #fff;
  }

  &::after {
    content: "";
    flex-grow: 1;
    height: 3px;
    background: #000;
  }
}

.aboutListAdditional {
  margin: 0;
  padding: 10px;
  padding-left: 25px;
  // border: solid #000;
  // border-width: 0 0 3px 3px;
}

.aboutItemAdditional {
  margin: 35px 0 0;
  // font-size: 22px;
  // font-weight: 700;

  &::marker {
    content: "";
  }
}
