.contentAbout {
  display: flex;
}

.about {
  padding: 25px 15px;
  background: #fff;
}

.aboutSection {
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.aboutTitle {
  display: flex;
  align-items: center;
  margin: 0;
  // background: #3d503a8c;

  &Name {
    flex-grow: 1;
    margin-left: -15px;
    padding-left: 25px;
    font-size: 22px;
    background: #3d503a8c;
  }
}

.aboutIcoBox {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
}

.aboutIcon {
  &User {
    padding: 6px;
  }

  &Briefcase {
    padding: 5px;
  }

  &Code,
  &Graduation {
    padding: 4px;
  }
}

.aboutTextBox {
  margin: 0;
  padding-left: 16px;
}

.aboutText {
  margin: 0;
  padding: 10px;
  padding-left: 22px;
  border: solid #000;
  border-width: 0 0 3px 3px;
}

.aboutList {
  margin: 0;
  padding: 10px;
  padding-left: 22px;
  border: solid #000;
  border-width: 0 0 3px 3px;
}

.aboutItem {
  &::marker {
    font-size: 35px;
    left: 0;
  }

  &Education {
    display: flex;
  }
}

.educationEar {
  margin: 0 15px 0 0;
  padding: 0;
  font-weight: 600;
}

.educationPlace {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.university {
  font-weight: 600;
}

.profession {
  padding-left: 5px;
  color: #222222bb;
  font-size: 14px;
}

.aboutItemAdditional {
  margin: 35px 0 0;
  font-size: 22px;
  font-weight: 700;

  &::marker {
    content: "";
  }
}
