<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="page">
        <aside class="sidebar">
          <div class="avatar">
            <img src="image/avatar.jpeg" alt="Yuri Movchan" title="Yuri Movchan" class="avatarImg" />
          </div>
          <section class="contact">
            <h3 class="contact__title">Contact Information</h3>
            <ul class="contact__list">
              <li class="contact__item">
                <img src="image/phone.svg" class="contact__icon" />
                <a href="tel:+380637100732" class="contact__link"> +380(63) 710 07 32 </a>
              </li>
              <li class="contact__item">
                <img src="image/envelope.svg" class="contact__icon" />
                <a href="mailto:xyyrma@gmail.com" class="contact__link"> xyyrma@gmail.com </a>
              </li>
              <li class="contact__item">
                <img src="image/linkedin.svg" class="contact__icon" />
                <a href="https://www.linkedin.com/in/urko-movchan-7aa58a7a/" class="contact__link" target="__blank">
                  linkedin.com/in/urko-movchan-7aa58a7a/
                </a>
              </li>
              <li class="contact__item">
                <img src="image/github.svg" class="contact__icon" />
                <a href="https://github.com/UriMovchan" class="contact__link" target="__blank"> github.com/UriMovchan </a>
              </li>
              <li class="contact__item">
                <img src="image/map.svg" class="contact__icon" />
                <a
                  href="https://www.google.com/maps/place/%D0%9A%D0%B8%D1%97%D0%B2,+02000/@50.4021698,30.3922666,11z/data=!3m1!4b1!4m5!3m4!1s0x40d4cf4ee15a4505:0x764931d2170146fe!8m2!3d50.4501!4d30.5234"
                  class="contact__link"
                  target="__blank"
                >
                  Kyiv, Ukraine
                </a>
              </li>
              <!-- <li class="contact__item">
                <img src="image/globe.svg" class="contact__icon" />
                <a href="https://urdev.space" class="contact__link" target="__blank"> urdev.space </a>
              </li> -->
            </ul>
          </section>

          <section class="skill">
            <h3 class="skill__title">TECH SKILLS</h3>
            <ul class="skill__list">
              <li class="skill__item">HTML5/CSS3/SASS</li>
              <li class="skill__item">Responsive/Adaptive design</li>
              <li class="skill__item">JavaScript/TypeScript</li>
              <li class="skill__item">PHP</li>
              <li class="skill__item">REST API</li>
              <li class="skill__item">MySQL</li>
              <li class="skill__item">Sqlite</li>
              <li class="skill__item">MongoDB</li>
              <li class="skill__item">Node.js</li>
              <li class="skill__item">Electron</li>
              <li class="skill__item">React/React Native</li>
              <li class="skill__item">Redux</li>
              <li class="skill__item">Handlebars</li>
              <li class="skill__item">Webpack</li>
              <li class="skill__item">Parcel</li>
              <li class="skill__item">Vite</li>
              <li class="skill__item">Git</li>
            </ul>
          </section>
          <section class="skill">
            <h3 class="skill__title">SOFT SKILLS</h3>
            <ul class="skill__list">
              <li class="skill__item">Teamwork</li>
              <li class="skill__item">Listening</li>
              <li class="skill__item">Flexibility</li>
              <li class="skill__item">Logical thinking</li>
              <li class="skill__item">Accepting feedback</li>
            </ul>
          </section>
          <section class="skill">
            <h3 class="skill__title">LANGUAGES</h3>
            <ul class="skill__list">
              <li class="skill__item">Ukrainian - Native</li>
              <li class="skill__item">Russian - Native</li>
              <li class="skill__item">English - Intermediate</li>
            </ul>
          </section>
        </aside>

        <div class="pageContent">
          <header>
            <div class="heroBtn">
              <a href="/pdf/saveLocal" class="heroShareBtn" title="save pdf">Dev Save</a>
              <a href="/pdf" class="heroShareBtn" target="_blank" title="view pdf"><img src="image/pdf.svg" class="heroShareIcon" /></a>
              <a href="/pdf/download" class="heroShareBtn" title="download pdf"><img src="image/pdf-download.svg" class="heroShareIcon" /></a>
            </div>

            <section class="hero">
              <h1 class="hero__title">Yuri Movchan</h1>
              <h2 class="hero__vocation">FullStack Developer</h2>
            </section>
          </header>

          <main class="content contentAbout">
            <div class="about">
              <section class="aboutSection">
                <h2 class="aboutTitle">
                  <span class="aboutIcoBox">
                    <img src="image/user.svg" class="aboutIconUser" />
                  </span>
                  <span class="aboutTitleName">SUMMARY</span>
                </h2>
                <h3 class="aboutTextBox">
                  <div class="aboutText">
                    I am a Full Stack Developer looking for a remote full-time, part-time job with a flexible hours in a company that aims to make
                    everyday life and business simpler, more productive and more user-friendly. I know PHP, MySql, JavaScript, HTML, CSS, Node.js and
                    React well. In addition, I have practical experience using the Agile / Scrum methodology while working in a team. I learn quickly,
                    responsibly and ready for difficult tasks.
                  </div>
                </h3>
              </section>
              <section class="aboutSection">
                <h2 class="aboutTitle">
                  <span class="aboutIcoBox">
                    <img src="image/code.svg" class="aboutIconCode" />
                  </span>
                  <span class="aboutTitleName">PROJECT EXPERIENCE</span>
                </h2>

                <ul class="aboutList">
                  <li class="aboutItem">
                    <a href="https://github.com/UriMovchan/GoIT/tree/main/projects/EventBooster" target="_blank" rel="noreferrer" class="projectLink">
                      EventBooster
                    </a>
                    [HTML, SASS, JS, Parcel]
                    <p class="projectInfo">Team project during IT courses. An interactive platform with a responsive layout for event discovery</p>
                  </li>
                  <li class="aboutItem">
                    <a href="https://github.com/UriMovchan/GoIT/tree/main/projects/ice-creame" target="_blank" rel="noreferrer" class="projectLink">
                      IceCream
                    </a>
                    [HTML, SASS, JS, Parcel]
                    <p class="projectInfo">Team project during IT courses. Landing page with a responsive layout for selling ice cream</p>
                  </li>
                  <li class="aboutItem">
                    <a href="https://github.com/UriMovchan/GoIT/tree/main/projects/Kapusta" target="_blank" rel="noreferrer" class="projectLink">
                      Kapusta
                    </a>
                    [HTML, SASS, JS, React, NodeJs, Parcel]
                    <p class="projectInfo">A web application with a responsive layout for tracking income and expenses</p>
                  </li>
                </ul>
              </section>
              <section class="aboutSection">
                <h2 class="aboutTitle">
                  <span class="aboutIcoBox">
                    <img src="image/briefcase.svg" class="aboutIconBriefcase" />
                  </span>
                  <span class="aboutTitleName">WORK EXPERIENCE</span>
                </h2>

                <ul class="aboutList">
                  <li class="aboutItem">
                    <div class="aboutItemWork">
                      <div class="work">
                        <p class="workEar">2019 - 2024</p>
                        <span class="workPlace"
                          >Full Stack Developer at <a href="https://bartek.com.ua" target="_blank" rel="noopener noreferrer">BARTEK</a></span
                        >
                      </div>
                      <ul class="workTask">
                        <li class="taskItem">Development and maintenance of a e-commerce website.</li>
                        <li class="taskItem">Interface layout and styling considering modern web design requirements and responsiveness.</li>
                        <li class="taskItem">
                          Implementation of new functionalities on the frontend and backend using PHP, MySQL, JavaScript, HTML and CSS technologies.
                        </li>
                        <li class="taskItem">Integration with external services and APIs to enhance functionality and handle payments processing.</li>
                        <li class="taskItem">
                          Developed a cross-platform desktop application for client management using Nodejs, Electron, React, Vite.
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </section>
              <section class="aboutSection">
                <h2 class="aboutTitle">
                  <span class="aboutIcoBox">
                    <img src="image/graduation.svg" class="aboutIconGraduation" />
                  </span>
                  <span class="aboutTitleName">EDUCATION</span>
                </h2>

                <ul class="aboutList">
                  <li class="aboutItem">
                    <div class="aboutItemEducation">
                      <p class="educationEar">2006 - 2011</p>
                      <p class="educationPlace">
                        <span class="university">Taras Shevchenko National University of Kyiv</span>
                        <span class="profession">Master of Philosophy, specialty political science</span>
                      </p>
                    </div>
                  </li>
                  <li class="aboutItem aboutItemAdditional">
                    <div class="additional">
                      <h2 class="additionalTitle">
                        <span class="additionalTitleName">ADDITIONAL EDUCATION</span>
                      </h2>
                      <div class="aboutTextBox">
                        <ul class="aboutListAdditional">
                          <li class="aboutItem">
                            <div class="aboutItemEducation">
                              <p class="educationEar">2020 - 2021</p>
                              <p class="educationPlace">
                                <span class="university">IT School GoIT (Kyiv)</span>
                                <span class="profession">Full Stack Developer</span>
                              </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
