@import "styleSheet/colors";

.sidebar {
  flex-shrink: 0;
  max-width: 250px;
  padding: 25px 15px;
  background: #1a1a1a;
  color: #fff;
}

.avatar {
  width: 195px;
  margin: 0 auto 25px;
  padding: 5px;
  border: 3px solid #bbbbbbbb;
  border-radius: 50%;
}

.avatarImg {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.contact__title,
.skill__title {
  margin: 0;
  padding: 5px;
  font-size: 17.5px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #bbbbbbbb;
}

.contact__list {
  margin: 0;
  padding: 7px 0 0 25px;
  list-style: none;
}

.contact__item {
  display: flex;
  align-items: center;
  padding-top: 5px;
  color: #bdbdbd;
  font-size: 13.5px;
  font-weight: 500;
}
.contact__icon {
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  color: #fff;
}

.contact__link {
  color: inherit;
}

.skill__list {
  margin: 0;
  padding: 7px 0 0 35px;
  list-style: url("../../images/star.svg");
}

.skill__item {
  padding-top: 3px;
  color: #bdbdbd;
  font-size: 13.5px;
  font-weight: 500;
}

aside section:not(:last-child) {
  margin-bottom: 25px;
}
